{% extends 'restaurante/base_template.html' %}

{% load static %}

{% block content %}

  <div class="hero_area">
    
    {% include 'restaurante/navigation_bar.html' %}
    
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Restaurante-Churrasquería Feane
                    </h1>
                    <p>
                      Comida a fartar!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Churrasco de porco celta
                    </h1>
                    <p>
                      pregúntalle a el, xa verás!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Patacas de Coristanco!
                    </h1>
                    <p>
                      Fritas en aceite de oliva  
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
          </ol>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  {% include 'restaurante/section_menu.html'%}

  {% include 'restaurante/section_about.html'%}

  {% include 'restaurante/section_book.html'%}




{% endblock content%}