{% load static %}

<!-- header section strats -->
    <div class="bg-box">
      <img src="{% static 'restaurante/images/hero-bg.jpg' %}" alt="">
    </div>
    
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="{% url 'home' %}">
            <span>
              Feane
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'menu' %}">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'book' %}">Book Table</a>
              </li>
              <li class="nav-item">
               {% if user.is_authenticated %}
                  <a class="nav-link" href="#">Logout</a>
               {% else %}
                  <a class="nav-link" href="#">Login</a>
               {% endif %}
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->