<!-- food section -->

  <section class="food_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Menu
        </h2>
      </div>
      <div class="filters-content">
        <div class="row grid">
      {% for comida in comidas %}
          <div class="col-sm-6 col-lg-4 all">
            <div class="box">
              <div>
                <div class="img-box">
                  <img src="{{comida.imaxe.url}}" alt="">
                </div>
                <div class="detail-box">
                  <h5>
                    {{comida.nome}}
                  </h5>
                  <p>
                    {{comida.descripcion}}  
                  </p>
                  <div class="options">
                    <h6>
                      ${{comida.precio}}
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          View More
        </a>
      </div>
    </div>
  </section>

  <!-- end food section -->